@import "../../shared/theme/core/animations";

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: relative;
    z-index: 1;
  }

  .icon-bg {
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;

    &.border-circle {
      border-radius: 50%;
    }
  }
}