@use "sass:map";
@use "../../core/_theme" as theme;

@use "./_text" as text;

$regular-theme-map: (
  neutral: (
    "text-color": map.get(text.$feedback-text-map, "neutral", "default"),
    "bg-color": theme.get-tone-from-palette(100, "neutral"),
  ),
  primary: (
    "text-color": map.get(text.$feedback-text-map, "primary", "default"),
    "bg-color": theme.get-tone-from-palette(100, "primary"),
  ),
  secondary: (
    "text-color": map.get(text.$feedback-text-map, "secondary", "default"),
    "bg-color": theme.get-tone-from-palette(100, "secondary"),
  ),
  success: (
    "text-color": map.get(text.$feedback-text-map, "success", "default"),
    "bg-color": theme.get-tone-from-palette(100, "success"),
  ),
  warning: (
    "text-color": map.get(text.$feedback-text-map, "warning", "default"),
    "bg-color": theme.get-tone-from-palette(100, "warning"),
  ),
  critical: (
    "text-color": map.get(text.$feedback-text-map, "critical", "default"),
    "bg-color": theme.get-tone-from-palette(100, "critical"),
  ),
);
