@use '../../common-variables' as *;

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  width: var(--button-width);
  padding: var(--padding-base);
  font-size: var(--font-size-default);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.my-button--primary {
  background-color: var(--color-primary);
  color: var(--color-text-light);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.my-button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);

  &:hover {
    background-color: var(--color-secondary-hover);
  }
}

.my-button--disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}