@use '../../styles/common-variables' as token;

:host {
  --color-primary: #{token.$primary-color};
  --color-secondary: #{token.$secondary-color};
  --color-disabled: #{token.$disabled-color};
  --color-text-light: #{token.$text-light};
  --font-size-default: #{token.$font-size-default};
  --border-radius: #{token.$border-radius};
  --padding-base: #{token.$padding};
  display: inline-block;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  width: var(--button-width);
  padding: var(--padding-base);
  font-size: var(--font-size-default);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.my-button--primary {
  background-color: var(--color-primary);
  color: var(--color-text-light);

  &:hover {
    background-color: darken(token.$primary-color, 10%);
  }
}

.my-button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-light);

  &:hover {
    background-color: darken(token.$secondary-color, 10%);
  }
}

.my-button--disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}
