@use "sass:map";
@use "../../../shared/theme/tokens/sizing" as sizing;

// Sizes

$button-size-configs: (
  "small": (
    font-size: 12px,
    padding: 8px,
    height: 32px,
  ),
  "medium": (
    font-size: 14px,
    padding: 12px 16px,
    height: 48px,
  ),
  "large": (
    font-size: 16px,
    padding: 16px 24px,
    height: 56px,
  ),
);

$size-map-small: map-get($button-size-configs, "small");
$border-radius-medium: map.get(sizing.$border-radius, "medium");

@each $size, $configs in $button-size-configs {
  $size-map: map-get($button-size-configs, $size);

  a.button-block,
  button.button-block {
    width: 100%;
  }

  .button-disabled:hover {
    pointer-events: none;
    cursor: not-allowed;
  }

  button[class^="button-#{$size}"],
  .button-#{$size} {
    font-size: map-get($size-map, "font-size");
    padding: map-get($size-map, "padding");
    height: map-get($size-map, "height");
    border-radius: $border-radius-medium;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 8px;

    &,
    &:hover {
      transition: all ease-in-out .2s;
    }

    yoo-icon {
      display: inline-flex;
      align-items: center;

      svg {
        height: map-get($size-map, "font-size");
        width: map-get($size-map, "font-size");
      }
    }
  }
}
