@use '../../shared/theme/tokens/primitives' as primitives;
@use '../../shared/theme/tokens/sizing' as sizing;

.input-group {
  .label-wrapper {
    display: flex;
    align-items: center;
    height: map-get(sizing.$spaces, 'sm');
  }

  label,
  span {
    font-weight: 500;
    color: map-get(primitives.$grey-palette, 600);

    strong {
      color: map-get(primitives.$blue-palette, 700);
      font-weight: bold;
    }
  }

  &:not(.switch) > label,
  &:not(.switch) > span {
    display: block;
    margin-bottom: map-get(sizing.$spaces, 'xxxs');
    margin-top: map-get(sizing.$spaces, 'xxxs');
  }

  .field-wrapper {
    position: relative;
  }

  .input-container {
    position: relative;
    width: 100%;
  }

  .trailing-icon {
    position: absolute;
    top: 50%;
    right: map-get(sizing.$spaces, 'xxs');
    transform: translateY(-50%);
    height: fit-content;
    width: fit-content;
  }

  input,
  select {
    font-size: 14px;
    width: 100%;
    padding: map-get(sizing.$spaces, 'xxs');
    border-width: map-get(sizing.$border-width, 'small');
    border-style: solid;
    border-color: map-get(primitives.$grey-palette, 200);
    outline-color: map-get(primitives.$blue-palette, 600);
    background: transparent;
    border-radius: map-get(sizing.$border-radius, 'medium');
    color: map-get(primitives.$grey-palette, 600);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
      border-color: #818A8F; // TODO: Não achei no tokens
    }

    &:focus-visible,
    &:focus {
      border-color: map-get(primitives.$blue-palette, 600);
      outline-color: map-get(primitives.$blue-palette, 600);
      color: map-get(primitives.$grey-palette, 950);
    }

    ::placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder {
      color: map-get(primitives.$grey-palette, 300);
    }

    &[disabled],
    &:disabled {
      background-color: map-get(primitives.$grey-palette, 50);
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
